
.game{
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field{
    max-width: 450px;
    height: 450px;
    margin: 0 auto;
    border: 6px solid LightSkyBlue;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10%;
}

.new_game{
    margin-top: 20px;
    background-color: aliceblue;
    border: 4px solid LightSkyBlue;
    font-size: 3ch;
    border-radius: 17%;
  
}

  
.field-items{
    width: 150px;
    height: 150px;
    border: 1px solid LightSkyBlue;
    box-sizing: border-box;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17%;
}

.error {
    color: white;
    background-color: red;
}

.hidden {
    display: none;
}

.success {
    color: white;
    background-color: rgb(153, 215, 153);
}

.message {
    box-sizing: border-box;
    width: 450px;
    margin: 10px 0;
    padding: 10px 5px;
}
